<!DOCTYPE html>
<html>
  <head>
    
   {% include "includes/head.html" %} 
    
  </head>
  <body>
  
  <!--  Your Progressive Web App   -->
    
    <!--  Nav Bar   -->
 <main class="container">
    {%include "nav.html" %}
           </main>
          
    
  <!--  Hero Element   -->
  <section class="hero is-light is-primary is-bold">
    <div class="hero-body">
    <div class="container">
      <h2 class="title has-text-centered is-size-4 has-text-weight-light">Contact</h2>
   </div>
   </div>
    
    </section>
    
    <div class="contactinfo">
    
      <h2 class="subtitle has-text-left">
        Phone: (509) 123-4567
      </h2>
      <h2 class="subtitle has-text-left">
        Email: hannah.paine.com
      </h2>
    </div>
      
<div class="contact">    
    
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>



<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>

  </div>
</div>



<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>


<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>

</div>

    </div>
  

  </main> 
    
  {% include "includes/scripts.html" %} 

  </body>
</html>