<!DOCTYPE html>
<html>
  <head>
    
   {% include "includes/head.html" %} 
    
  </head>
  <body>
  
  <!--  Your Progressive Web App   -->
    
    <!--  Nav Bar   -->
 <main class="container">
    {%include "nav.html" %}
           </main>
          
    
  <!--  Hero Element   -->
  <section class="hero is-light is-fullheight is-bold">
    <div class="hero-body">
    <div class="container">
      <h2 class="title has-text-centered is-size-4 has-text-weight-light">Resume</h2>
            <figure class="image logo is-horizontal-center">
  <img src="img/CassieGalvezResume.jpg">
</figure>
   </div>
   </div>
    
    </section>
    
    <!--  Lil Somethin   -->
    <section class="section">
    <div class="container">
      <p class="resumetext is-small has-text-left">
        GRAPHIC DESIGN INTERN <br>
        Gonzaga Preparatory High School<br>
        Sept 2017-Dec 2017 <br>
     I directly worked under the head Graphic Designer/Marketing Cooridinator at Gonzaga Prep. Assisting her with layouts, promotional pieces and social media posts. She was a one woman department so I had the opportunity for a lot of hands on help and learning.
      </p>
 
    </div>
  </section>
    
    
    


  

  </main> 
    
  {% include "includes/scripts.html" %} 

  </body>
</html>