<!DOCTYPE html>
<html>
  <head>
    
   {% include "includes/head.html" %} 
    
  </head>
  <body>
  
  <!--  Your Progressive Web App   -->
    
    <!--  Nav Bar   -->
 <main class="container">
    {%include "nav.html" %}
           </main>
          
    
  <!--  Hero Element   -->
  <section class="hero is-light is-primary is-bold">
    <div class="hero-body">
    <div class="container">
      <h2 class="title has-text-centered is-size-4 has-text-weight-light">User Experience</h2>
   </div>
   </div>
    
    </section>
    
    <!--  Portfolio   -->
<section class="columns level">
		<div class="column is-one-third">
			<figure class="image is-square">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure>
		</div>
		<div class="column is-one-third">
			<figure class="image is-square">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure>
		</div>
		<div class="column is-one-third">
			<figure class="image is-square">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure>
		</div>	
	</div>	
</section>
  
    <section class="columns level">
		<div class="column is-one-third">
			<figure class="image is-square">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure>
		</div>
		<div class="column is-one-third">
			<figure class="image is-square">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure>
		</div>
		<div class="column is-one-third">
			<figure class="image is-square">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure>
		</div>	
	</div>	
</section>

<section class="columns level">
		<div class="column is-one-third">
			<figure class="image is-square">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure>
		</div>
		<div class="column is-one-third">
			<figure class="image is-square">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure>
		</div>
		<div class="column is-one-third">
			<figure class="image is-square">
  <img src="https://bulma.io/images/placeholders/256x256.png">
</figure>
		</div>	
	</div>	
</section>
    
    


  

  </main> 
    
  {% include "includes/scripts.html" %} 

  </body>
</html>