<nav class="navbar is-info is-fixed-top">


    <a class="navbar-item" href="/index.html">
             Home
             </a>    
 
     <div class="navbar-item has-dropdown is-hoverable">
             <a class="navbar-link " href="#">
               Portfolio
             </a>
             <div class="navbar-dropdown is-boxed">
               <a class="navbar-item" href="/graphicdesign.html">
                 Graphic Design
               </a>
               <hr class="navbar-divider">
               <a class="navbar-item" href="/photography.html">
                 Photography
               </a>
               <hr class="navbar-divider">
               <a class="navbar-item" href="/ux.html">
                 UX
               </a>
             </div>
           </div>
     
      <a class="navbar-item" href="/about.html">
             About
             </a>
     
      <a class="navbar-item" href="/resume.html">
             Resume
             </a>
     
      <a class="navbar-item" href="/contact.html">
             Contact
             </a>

 
   </div>
 </nav>